In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [34]:
FILENAME = 'T:\\Team\\Szewczyk\\Data\\2024-03-05\\A02506.dat'

In [35]:
data = pd.read_csv(FILENAME, skiprows=5, sep='\t')

In [36]:
data

          Time [s]     U [V]     I [A]  Ill [V]  EMSI [%]
0            0.004 -6.004019 -0.000046  -0.0000   26.3826
1            0.014 -6.003694 -0.000055   0.0002   26.3851
2            0.024 -6.004669 -0.000055  -0.0000   26.3851
3            0.034 -6.003368 -0.000055  -0.0000   26.3851
4            0.044 -6.004669 -0.000055  -0.0000   26.3851
...            ...       ...       ...      ...       ...
1437987  14379.874 -6.004019 -0.000025  -0.0002   25.0079
1437988  14379.884 -6.003694 -0.000025   0.0002   25.0079
1437989  14379.894 -6.004994 -0.000026  -0.0000   24.9987
1437990  14379.904 -6.004669 -0.000025  -0.0002   24.9987
1437991  14379.914 -6.003368 -0.000025  -0.0002   24.9987

[1437992 rows x 5 columns]

In [37]:
data = data.rename(columns = {
    'Time [s]'  : 't',
    'U [V]'     : 'U',
    'I [A]'     : 'I',
    'EMSI [%]'  : 'emsi',
})
data = data.drop(columns = 'Ill [V]')
data

                 t         U         I     emsi
0            0.004 -6.004019 -0.000046  26.3826
1            0.014 -6.003694 -0.000055  26.3851
2            0.024 -6.004669 -0.000055  26.3851
3            0.034 -6.003368 -0.000055  26.3851
4            0.044 -6.004669 -0.000055  26.3851
...            ...       ...       ...      ...
1437987  14379.874 -6.004019 -0.000025  25.0079
1437988  14379.884 -6.003694 -0.000025  25.0079
1437989  14379.894 -6.004994 -0.000026  24.9987
1437990  14379.904 -6.004669 -0.000025  24.9987
1437991  14379.914 -6.003368 -0.000025  24.9987

[1437992 rows x 4 columns]

In [42]:
fit = np.polyfit(data.t, data.emsi, 1)
emsi_corrected = data.emsi - np.polyval(fit, data.t)
plt.plot(data.t, emsi_corrected)
data.emsi = emsi_corrected
data.I = -data.I

In [38]:
%matplotlib qt

In [43]:
fig, axs = plt.subplots(2, sharex = True)
axs[0].plot(data.t, data.I)
axs[0].set_title('current [A]')
axs[1].plot(data.t, data.emsi)
axs[1].set_title('emsi [%]')

Text(0.5, 1.0, 'emsi [%]')