In [1]:
import eclabfiles as ecf
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from matplotlib.collections import LineCollection
from matplotlib import colormaps
%matplotlib qt

In [2]:
CV_FILENAME = 'T:\\Team\\Szewczyk\\Data\\2024-03-12\\A02703_C02.mpr'
data = ecf.to_df(CV_FILENAME)

In [3]:
data

,time,control_V,Ewe,<I>,cycle number,(Q-Qo),I Range,mode,ox/red,error,control changes,counter inc.,uts
0,0.000000,0.000876,-0.097911,0.246347,1.0,0.000000,41,2,1,1,0,0,1.710265e+09
1,0.337400,0.007622,0.007360,0.249207,1.0,0.000084,41,2,1,1,1,0,1.710265e+09
2,0.727100,0.015418,0.015090,0.193060,1.0,0.000177,41,2,1,0,1,0,1.710265e+09
3,0.877100,0.018417,0.018152,0.140841,1.0,0.000202,41,2,1,0,1,0,1.710265e+09
4,1.027000,0.021415,0.021257,0.112557,1.0,0.000221,41,2,1,0,1,0,1.710265e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24023,3600.158609,-0.004672,-0.004066,0.038226,6.0,0.179616,41,2,1,0,1,0,1.710269e+09
24024,3600.308609,-0.007670,-0.007034,0.037979,6.0,0.179622,41,2,1,0,1,0,1.710269e+09
24025,3600.458409,-0.010669,-0.009823,0.037763,6.0,0.179627,41,2,1,0,1,0,1.710269e+09
24026,3600.570909,-0.012917,-0.013168,0.037611,6.0,0.179632,41,2,1,0,1,0,1.710269e+09
24027,3600.607109,-0.013817,-0.011528,0.037432,6.0,0.179633,41,2,1,0,0,0,1.710269e+09

In [4]:
total_nc = int(data['cycle number'].iloc[-1])
plt.figure()
plt.title(f'CV for {CV_FILENAME.split('\\')[-1][:-8]}; {total_nc = }')
plt.xlabel('U [V]')
plt.ylabel('J [mA/cm$^2$]')
for i in range(1, total_nc+1):
    cycle = data[data['cycle number'] == i]
    plt.plot(cycle.Ewe, cycle['<I>'], color=plt.cm.viridis(i/total_nc))