In [1]:
import eclabfiles as ecf
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from matplotlib.collections import LineCollection
from matplotlib import colormaps
import os
%matplotlib qt

In [2]:
DATE = '03-19'
CV_FILENAME = f'T:/Team/Szewczyk/Data/2024-{DATE}/A03000_C02.mpr'
data = ecf.to_df(CV_FILENAME)

In [3]:
data

,time,control_V,Ewe,<I>,cycle number,(Q-Qo),I Range,mode,ox/red,error,control changes,counter inc.,uts
0,0.000000,-0.925473,-0.925757,-0.000036,1.0,0.000000e+00,41,2,0,0,0,0,1.710863e+09
1,0.082500,-0.923824,-0.924018,-0.000034,1.0,-2.761992e-09,41,2,0,0,1,0,1.710863e+09
2,0.232500,-0.920826,-0.921021,-0.000032,1.0,-7.737338e-09,41,2,0,0,1,0,1.710863e+09
3,0.382400,-0.917826,-0.918026,-0.000029,1.0,-1.218407e-08,41,2,0,0,1,0,1.710863e+09
4,0.532300,-0.914829,-0.914998,-0.000026,1.0,-1.627147e-08,41,2,0,0,1,0,1.710863e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28724,4304.293594,1.158915,1.159542,0.104276,8.0,2.158435e-01,41,2,1,0,1,1,1.710867e+09
28725,4304.443594,1.161914,1.162555,0.104219,8.0,2.158591e-01,41,2,1,0,1,1,1.710867e+09
28726,4304.593494,1.164913,1.165537,0.104098,8.0,2.158748e-01,41,2,1,0,1,1,1.710867e+09
28727,4304.743394,1.167911,1.168515,0.103947,8.0,2.158903e-01,41,2,1,0,1,1,1.710867e+09
28728,4304.811694,1.169560,1.170128,0.104100,8.0,2.158975e-01,41,2,1,0,1,1,1.710867e+09

In [11]:
total_nc = int(data['cycle number'].iloc[-1])
plt.figure()
plt.title(f'CV for {CV_FILENAME.split('/')[-1][:-8]}; {total_nc = }')
plt.xlabel('U [V]')
plt.ylabel('J [mA/cm$^2$]')
for i in range(1, total_nc+1):
    cycle = data[data['cycle number'] == i]
    plt.plot(cycle.Ewe, cycle['<I>'], color=plt.cm.viridis(i/total_nc))

In [13]:
OVERWRITE = False

folder_name = f'C:/Users/go68nim/OneDrive - University of Edinburgh/Notes/Lab/experiments/plots/{DATE[1:]}'
if not os.path.exists(folder_name):
    os.makedirs(folder_name)
if (os.path.exists(f'{folder_name}/CV.png') & (OVERWRITE == False)):
    print('File exists. If you want to overwrite it, set <OVERWRITE> to <True>.')
else:
    plt.savefig(f'{folder_name}/CV.png')